.footer {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-top: 1px solid #EAEAEA;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
}

.name--footer {
    /* margin: 40px 550px 20px 180px; */
}

footer p {
    margin: 0 0 40px 180px;
}

.footer__column {
    width: 50%;
}

.footer__icons {
    text-align: center;
}