.header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    left: 0px;
    top: 4px;
    border-radius: 0px;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 1px solid;
    border-color: #EAEAEA;
    align-items: center;
    border-top: 4px;
    /* border-image: linear-gradient(180deg, #E39600 0%, #EA4C89 33.33%, #8F48EB 70.83%, #1DA1F2 100%); */
    border: linear-gradient(180deg, #E39600 0%, #EA4C89 33.33%, #8F48EB 70.83%, #1DA1F2 100%);
}