.h2 {
    padding-bottom: 80px;
    font-size: 24px;
    font-weight: 600;
}

.project__index {
    border: 1px solid #EAEAEA;
    margin: 0 290px 20px 290px;
    display: flex;
}

.python {
    font-size: 80px;
    padding: 40px 20px 40px 40px;
    color: #E39600;
}

.h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 40px 0 20px 20px;
}

